@import './Variables.scss';

.App {
  text-align: center;
}

body{
  overflow: hidden;
}

.heading{
  background: $secondary;
  position: relative;
  top: 130px;
  height: 70px;
  border: $border;
  div{
    position: relative;
    right: 190px;
    input{
      margin-right: 10px;
      padding: 5px;
      height: 20px;
      outline: none;
      border: $border;
      border-radius: 5px;
    }
    select{
      padding: 5px;
      outline: none;
      border: $border;
      height: 30px;
      cursor: pointer;
    }
    .darkMode{
      height: 40px;
      width: 40px;
      cursor: pointer;
      position: relative;
      top: 15px;
      left: 10px;
    }
  }
}

.container{
  position: relative;
  top: 130px;
  height: 69vh;
  .notes{
    height: 45vh;
    width: 65%;
    position: relative;
    left: 300px;
    top: 20px;
    overflow-y: auto;
  }
  .add{
    position: relative;
    right: 338px;
    top: 40px;
    padding: 9px;
    cursor: pointer;
    background: $primary;
    color: white;
    border: none;
    transition: 0.3s all;
    &:hover{
      background: lighten($primary, 10%);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  bottom: 50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.createNote{
  width: 60%;
  padding: 15px;
  cursor: pointer;
  background: $primary;
  color: white;
  border: none;
  transition: 0.3s all;
  font-size: 15px;
  &:hover{
    background: lighten($primary, 10%);
  }
}

.buttons{
  .copyContent{
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
    color: gray;
    position: relative;
    left: 230px;
  }
  .edit{
    width: 15%;
    padding: 10px;
    cursor: pointer;
    background: $primary;
    color: white;
    border: none;
    transition: 0.3s all;
    font-size: 15px;
    &:hover{
      background: lighten($primary, 10%);
    }
  }
  .save{
    position: absolute;
    visibility: hidden;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    background: $primary;
    color: white;
    border: none;
    transition: 0.3s all;
    font-size: 15px;
    left: 460px;
    top: 304px;
    &:hover{
      background: lighten($primary, 10%);
    }
  }
}