@import './Variables.scss';

header{
    background: $primary;
    position: fixed;
    width: 100%;
    div{
        position: relative;
        right: 300px;
        color: white;
      h3{
        position: relative;
        font-weight: 400;
        margin-left: 70px;
        bottom: 15px;
      }
    }
}